$NOTIFICATIONTYPE$ :: $HOSTNAME$ is $HOSTSTATE$
#IF NOTIFICATIONTYPE~=/PROBLEM|ACKNOWLEDGEMENT/
$SHORTDATETIME$: $HOSTNAME$ has been $HOSTSTATE$ for $HOSTDURATION$
#ELSE
$SHORTDATETIME$: $HOSTNAME$ is $HOSTSTATE$
#ENDIF
#IF NOTIFICATIONTYPE=ACKNOWLEDGEMENT
$SHORTDATETIME$: Ack'd by $HOSTACKAUTHOR$ :: $HOSTACKCOMMENT$
#ENDIF
