$NOTIFICATIONTYPE$ :: $HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$
#IF NOTIFICATIONTYPE~=/PROBLEM|ACKNOWLEDGEMENT/
#IF NOTIFICATIONNUMBER>1
$SHORTDATETIME$ :: $HOSTNAME$/$SERVICEDESC$ has been $SERVICESTATE$ for $SERVICEDURATION$
#ELSE
$SHORTDATETIME$ :: $HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$
#ENDIF
#ENDIF
#IF NOTIFICATIONTYPE=ACKNOWLEDGEMENT
$SHORTDATETIME$ :: Ack'd By: $SERVICEACKAUTHOR$ :: $SERVICEACKCOMMENT$
#ENDIF
