$NOTIFICATIONTYPE$ :: $HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$
#IF NOTIFICATIONTYPE~=/RECOVERY|ACKNOWLEDGEMENT/
$NOTIFICATIONTYPE$ Message from GWK Nagios @ $SHORTDATETIME$
#ENDIF
#IF NOTIFICATIONTYPE=PROBLEM
$NOTIFICATIONTYPE$ Message #$NOTIFICATIONNUMBER$ from GWK Nagios @ $SHORTDATETIME$
#ENDIF 

#IF NOTIFICATIONTYPE~=/PROBLEM|ACKNOWLEDGEMENT/
#IF NOTIFICATIONNUMBER>1
$HOSTNAME$/$SERVICEDESC$ has been $SERVICESTATE$ for $SERVICEDURATION$
#ELSE
$HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$
#ENDIF
#ENDIF
#IF NOTIFICATIONTYPE=ACKNOWLEDGEMENT

Problem has been acknowledged by $SERVICEACKAUTHOR$: $SERVICEACKCOMMENT$
#ELSE
#IF NOTIFICATIONTYPE!=RECOVERY
#IF NOTIFICATIONNUMBER>=5

*** PLEASE ACKNOWLEDGE THIS PROBLEM IF YOU ARE WORKING ON IT
#ENDIF 
#ENDIF
#ENDIF
#IF NOTIFICATIONTYPE=PROBLEM

Probe Information: $SERVICEOUTPUT$
#ENDIF
